$fuente: helvetica;


@mixin blur(){
    backdrop-filter: blur(15px);
    background-color: #ffffff36;
    -webkit-backdrop-filter: blur(15px);
}
@mixin imgfondo(){
    background-image: url(../../media/loginfondo.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;


}
// TODO=============TODO==========================
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: $fuente;
    transition: scale 500ms ease-out;
}

body {
    background-color: #333;
    position: relative;

}
.todoo{
    @include imgfondo();
    height: 100vh;
    width: 100%;
    position: relative;
}
.contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include blur();
    border-radius: 25px;
    width: 450px;
    height: auto;
    form{
        display: flex;
        flex-wrap: wrap;
        padding: 15px 20px 40px 20px;
        justify-content: center;
        h1{
            width: 100%;
            text-align: center;
            padding: 15px 0px 20px 0px;
        }
        p{
            position: relative;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            label{
                color: #0c0101;
                width: 100%;
                
            }
            input{
                width: 100%;
                margin: 10px 0px;
                padding: 15px;
                border-radius: 20px;
                color: #444;
                background-color: #ffffff53;
            }
            
        }
        button{
            width: 60%;
            padding: 8px;
            border-radius: 20px;
            margin: 20px 0px 0px 0px;

        }
    }
}