.service-contenedor {
	display: flex;
	align-items: center;
	background-color: rgba(255, 68, 84, 0);
}
.formulario-div {
	width: 100%;
	background-color: rgba(84, 68, 255, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}
.formulario-div form {
	position: relative;
	width: 60%;
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 50px 0px 10px 0px;
}
.formulario-div textarea {
	width: 100%;
	margin: 8px 10px 0px 10px;
	border-radius: 15px;
	padding: 6px;
	max-width: calc(100% - 23px);
	max-height: calc(188px - 23px);
	min-width: calc(100% - 23px);
	min-height: calc(188px - 23px);
	border: 0.5px solid #555;
	writing-mode: none;
	outline: none;
	color: #555;
	background-color: #fff;
	-webkit-rtl-ordering: none;
	column-span: none;
	letter-spacing: -.2px;
}
.formulario-div textarea::-webkit-scrollbar{
	background-color: #c72a2a00;
	display: none;
	position: absolute;
}


.formulario-div form p label {
	width: 100%;
	padding-left: 6px;
}
.formulario-div form p input {
	width: calc(100% - 17px);
	padding: 6px 8px 6px 8px;
	border-radius: 20px;
	border: none;
	outline: none;
	color: #555;
	border: 0.5px solid #555;
	text-decoration: none;
}
.rellenadores{
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
}
.rellenadores p {
	margin: 8px 10px;
}

.formulario-div button{
	padding: 6px 10px;
	border-radius: 20px;
	outline: none;
	border: 1px solid #888;
	margin-bottom: 20px;
}

.formulario-div button:hover{
    border: 1px solid #555;
}

